
body{
    width: 100%; 
    background-color: lightslategray;
    background-size: 100%;
} 

.jumbotron{
    background-color: rgba(21, 156, 173, 0.3);
}

h2{
    color: rgba(49, 190, 190, 0.801);
}

.navbar{
    background-color: rgb(20, 180, 164);
}

.navbar-header{
    background-color:rgb(20, 180, 164);
    position: relative;
    margin-left: 4.5% !important;
    padding-left: 3%;
    padding-right: 2%;
}

.navbar-brand {
    color: white !important; 
    font-size: 30px;   
}

.navbar-brand i{
    color:rgb(20, 180, 164);
    font-size: 20px !important;
}

.nav li{
    font-size: 22px;
    padding-top: 5px;
}

.navbar a:hover {
    color:rgba(39, 175, 175, 0.555) ;
  }

p{
    color: rgba(22, 22, 22, 0.425);
}

.main img{
    margin-right: 3%;
}

.main p{
     text-align: justify;
     font-size: medium;
 }

.right img{
    margin: 10%;
}

.right img:hover {
    /* border: 0.5px solid rgb(55, 170, 250);  */
    box-shadow: 10px 10px 40px rgb(125, 65, 202);
  }


@media (max-width: 768px)
{
   
    .navbar-header{
        margin-left: -5% !important;  
    }

    .right img{
        margin:auto;
        margin-bottom: 2%;
    }
} 
