
body{
    width: 100%; 
    background-color: lightslategray;
    background-size: 100%;
} 

.jumbotron{
    background-color: rgba(21, 156, 173, 0.3);
}
.c
h2{
    color: rgba(20, 180, 164);
}

.navbar{
    background-color: rgb(20, 180, 164);
}

.navbar-header{
    background-color:rgb(20, 180, 164);
    position: relative;
    margin-left: 4.5%;
    padding-left: 3%;
    padding-right: 2%;
}

.navbar-brand {

    color: white; 
    font-size: 30px;   
    padding: 10px;
}

.navbar-brand i{
    color:rgb(20, 180, 164);
    font-size: 20px;
}

.nav li{
    font-size: 22px;
    padding-top: 5px;
}

.navbar a:hover {
    color:rgba(20, 180, 164, 0.555);
  }

p{
    color: rgba(22, 22, 22, 0.425);
}

.main img{
    margin-right: 3%;
}

.main p{
     text-align: justify;
     font-size: medium;
 }

.right img{
    margin: 10%;
}
.navbar a:hover {
    color:rgb(20, 180, 164, 0.555);
  }


.right img:hover {
    
    box-shadow: 10px 10px 40px rgb(20, 180, 164, 0.555);
  }
.plot img:hover {
    
    box-shadow: 10px 10px 40px rgb(20, 180, 164, 0.555);
  }  
  


@media screen and (max-width: 600px)

  
  {
      
    
      .navbar-header{
          margin-left: -5% ;  
      }
  
      .right img{
          margin:auto;
          margin-bottom: 2%;
      }
  } 